@font-face {
  font-family: 'Museo Sans Cyrl';
  src: local("MuseoSansCyrl-500"),url(../fonts/MuseoSansCyrl-500.woff2) format("woff2"),url(../fonts/MuseoSansCyrl-500.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: local("MuseoSansCyrl-300"),url(../fonts/MuseoSansCyrl-300.woff2) format("woff2"),url(../fonts/MuseoSansCyrl-300.woff) format("woff");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: local("MuseoSansCyrl-700"),url(../fonts/MuseoSansCyrl-700.woff2) format("woff2"),url(../fonts/MuseoSansCyrl-700.woff) format("woff");
  font-weight: 700;
  font-style: normal
}
body {
  font-family: 'Museo Sans Cyrl',sans-serif
}
button {
  border: none
}
.btn-page {
  border-radius: 5px;
  background-color: #c70101;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase
}
.title-section {
  color: #0d0d0d;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0
}
.promo {
  min-height: 650px;
  background: url(../img/bg/header-bg.jpg) center center/cover no-repeat;
  padding: 20px 0 90px 0;
  color: #fff
}
.promo-header-img {
  width: 250px
}
.promo-header-img img {
  width: 100%
}
.promo-header-partner {
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-top: 9px
}
.promo-header-garmin {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-align: center
}
.promo-header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}
.promo-header-wrap .promo-header-phone {
  font-size: 18px;
  font-weight: 700;
  color: #fff
}
.promo-header-wrap .promo-header-phone:hover {
  text-decoration: none
}
.promo-header-wrap .btn-page__promo {
  width: 150px;
  height: 30px;
  font-size: 12px
}
.promo-descr {
  text-align: right;
  margin-top: 90px
}
.promo-descr-title {
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1
}
.promo-descr-subtitle {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 17px
}
.promo-descr-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 65px
}
.promo-descr-icons-item {
  max-width: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 20px 0 50px
}
.promo-descr-icons-item img {
  min-height: 46px
}
.promo-descr-icons-item:nth-child(2) {
  max-width: 75px
}
.promo-descr-icons-item .promo-item-descr {
  text-align: center;
  font-size: 13.8px;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px
}
.promo-descr .btn-page_consultation {
  width: 300px;
  height: 50px;
  font-size: 16px;
  margin-top: 65px
}
.promo-descr-link {
  margin-top: 18px
}
.promo-descr-link a {
  color: #fff;
  text-decoration: underline
}
.benefits {
  min-height: 472px;
  background-color: #f6f6f6;
  padding: 70px 0 80px 0
}
.benefits-wrap {
  margin-top: 65px
}
.benefits-wrap .benefits-item {
  text-align: center;
  color: #0d0d0d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.benefits-wrap .benefits-item-title {
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin-top: 35px;
  margin-bottom: 0
}
.benefits-wrap .benefits-item-subtitle {
  max-width: 245px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 26px;
  line-height: normal
}
.benefits-wrap .benefits-item-subtitle-link {
  color: red;
  text-decoration: underline
}
@media (max-width:991px) {
  .promo-header-img {
    width: 100%;
    margin-top: 5px
  }
  .promo-header-partner {
    font-size: 11px
  }
  .promo-header-garmin {
    font-size: 17px
  }
  .promo-descr-title {
    font-size: 39px
  }
  .promo-descr-subtitle {
    font-size: 22px
  }
  .benefits-wrap {
    margin-top: 35px
  }
  .benefits-wrap .benefits-item {
    padding-top: 30px
  }
  .benefits-wrap .benefits-item-title {
    margin-top: 20px
  }
  .benefits-wrap .benefits-item-subtitle {
    margin-top: 15px
  }
}
@media (max-width:767px) {
  .promo {
    padding-bottom: 70px;
    min-height: 595px
  }
  .promo-header-partner {
    font-size: 9px
  }
  .promo-header-garmin {
    font-size: 14px
  }
  .promo-header-wrap .promo-header-phone {
    font-size: 15px
  }
  .promo-header-wrap .btn-page__promo {
    font-size: 11px;
    width: 130px;
    height: 25px
  }
  .promo-descr-title {
    font-size: 30px
  }
  .promo-descr-subtitle {
    font-size: 17px
  }
  .promo-descr-icons-item {
    margin: 0 0 0 30px
  }
  .promo-descr .btn-page_consultation {
    width: 250px;
    height: 45px;
    font-size: 14px;
    margin-top: 50px
  }
  .benefits .title-section {
    font-size: 25px
  }
}
@media (max-width:575px) {
  .promo {
    min-height: 560px;
    padding-bottom: 50px
  }
  .promo-header .col-sm-4.col-lg-4 {
    display: none
  }
  .promo-header-wrap .promo-header-phone {
    font-size: 13px
  }
  .promo-header-wrap .btn-page__promo {
    font-size: 10px;
    width: 120px;
    height: 23px
  }
  .promo-descr-title {
    font-size: 23px
  }
  .promo-descr-subtitle {
    font-size: 13px
  }
  .promo-descr .btn-page_consultation {
    width: 220px;
    height: 40px;
    font-size: 13px
  }
  .promo-descr-link {
    margin-top: 12px;
    font-size: 13px
  }
  .benefits {
    padding: 50px 0 40px 0
  }
  .benefits .title-section {
    font-size: 21px
  }
  .benefits-wrap {
    margin-top: 0
  }
}