body
    font-family: 'Museo Sans Cyrl', sans-serif

button
    border: none

.btn-page
    border-radius: 5px
    background-color: #c70101
    font-weight: 500
    color: #ffffff
    text-transform: uppercase
.title-section
    color: #0d0d0d
    font-size: 30px
    font-weight: 700
    line-height: 1
    text-align: center
    text-transform: uppercase
    margin-bottom: 0
.feed-form
    margin-top: 36px
    display: flex
    flex-direction: column
    align-items: flex-start

    input
        margin-bottom: 15px
        width: 300px
        height: 50px
        padding: 0 20px
        border-radius: 5px
        background-color: #ffffff
        border: none

        color: #4b4b4b
        font-size: 14px
        font-weight: 300

input.error
    border: 2px solid #c70101
label.error
    border: none
    font-size: 12px
    margin-bottom: 15px
    margin-top: -14px
