.consultation
    min-height: 680px
    background: url('./../img/bg/form-bg.jpg') center center / cover no-repeat
    padding: 100px 0 90px
    &-wrap
        .consultation-title
            color: #ffffff
            font-size: 36px
            font-weight: 700
            line-height: normal
            text-transform: uppercase
        .consultation-descr
            color: #ffffff
            font-size: 20px
            font-weight: 500
            line-height: normal
            margin-top: 80px
        .btn-page_consultation
            padding: 20px 43px
            font-size: 16px
            line-height: 1
            margin-top: 5px
        .feed-form
            margin-top: 36px
            display: flex
            flex-direction: column
            align-items: flex-start

            input
                margin-bottom: 15px
                width: 300px
                height: 50px
                padding: 0 20px
                border-radius: 5px
                background-color: #ffffff
                border: none

                color: #4b4b4b
                font-size: 14px
                font-weight: 300
