@media ( max-width: 1199px )
    .carousel
        &-inner
            width: 640px

@media ( max-width: 991px )
    .promo
        &-header
            &-img
                width: 100%
                margin-top: 5px
            &-partner
                font-size: 11px
            &-garmin
                font-size: 17px
        &-descr
            &-title
                font-size: 39px
            &-subtitle
                font-size: 22px

    .benefits
        &-wrap
            margin-top: 35px
            .benefits-item
                padding-top: 30px
                &-title
                    margin-top: 20px
                &-subtitle
                    margin-top: 15px

    .consultation
        min-height: 650px
        &-wrap
            .consultation-title
                font-size: 30px
            .consultation-descr
                margin-top: 50px

    .carousel
        &-inner
            width: 570px
        .slick-prev, .slick-next
            img
                width: 28px
                height: 40px

@media ( max-width: 767px )
    .promo
        padding-bottom: 70px
        min-height: 595px
        &-header
            &-partner
                font-size: 9px
            &-garmin
                font-size: 14px
            &-wrap
                .promo-header-phone
                    font-size: 15px
                .btn-page__promo
                    font-size: 11px
                    width: 130px
                    height: 25px
        &-descr
            &-title
                font-size: 30px
            &-subtitle
                font-size: 17px
            &-icons
                &-item
                    margin: 0 0 0 30px
            .btn-page_consultation
                width: 250px
                height: 45px
                font-size: 14px
                margin-top: 50px

    .benefits
        .title-section
            font-size: 25px

    .consultation
        min-height: 545px
        padding: 70px 0 50px
        &-wrap
            .consultation-title
                font-size: 25px
            .consultation-descr
                margin-top: 40px
                font-size: 18px
    .carousel
        padding: 50px 0
        &-inner
            width: 430px
        .slick-prev, .slick-next
            left: -45px
            img
                width: 20px
                height: 32px
        .slick-next
            right: -45px
            left: auto

@media ( max-width: 575px )
    .promo
        min-height: 560px
        padding-bottom: 50px
        &-header
            .col-sm-4.col-lg-4
                display: none
            &-wrap
                .promo-header-phone
                    font-size: 13px
                .btn-page__promo
                    font-size: 10px
                    width: 120px
                    height: 23px
        &-descr
            &-title
                font-size: 23px
            &-subtitle
                font-size: 13px
            .btn-page_consultation
                width: 220px
                height: 40px
                font-size: 13px
            &-link
                margin-top: 12px
                font-size: 13px

    .benefits
        padding: 50px 0 40px 0
        .title-section
            font-size: 21px
        &-wrap
            margin-top: 0

    .consultation
        padding: 50px 0 40px
        &-wrap
            .consultation-title
                font-size: 21px
            .consultation-descr
                margin-top: 40px
                font-size: 16px
            .btn-page_consultation
                width: 290px
                font-size: 15px
            .feed-form
                input
                    width: 290px

    .carousel
        padding: 50px 0
        &-inner
            width: 230px
        .slick-prev, .slick-next
            left: -35px
            img
                width: 13px
                height: 20px
        .slick-next
            right: -35px
            left: auto
